.grid-container {
    max-width: 960px;
    margin: auto;
}

.grid-row {
    display: flex; 
    margin: 0; 
    padding: 0; 
}

.grid-item {
    flex: 1; 
    border: 1px solid black; 
    margin: 0; 
    padding: 0;
}